/* .scrolldownCustom { 
    display: none; 
} */

.scrolldownCustom a {
    position: relative;
    bottom: 30px;
    left: 50%;
    margin-top: 20px;
    margin-left: -29px;
    color: #fff;
    display: block;
    height: 42px;
    width: 42px;
    font-size: 42px;
    line-height: 42px;
    color: #fff;
    border-radius: 100%;
 
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
 }

 .scrolldownCustom a:hover { 
     color: #11ABB0; 
}

.scrolldownCustom2 a {
    position: relative;
    bottom: 30px;
    left: 50%;
    margin-left: -29px;
    margin-top: 20px;
    /* color: #fff; */
    display: block;
    height: 42px;
    width: 42px;
    font-size: 42px;
    line-height: 42px;
    /* color: #fff; */
    border-radius: 100%;
 
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
 }

 .scrolldownCustom2 a:hover { 
    color: #11ABB0; 
}

.customH3 {
    color: white !important;
}